@font-face
{
    font-family: FontBold;
    src: url(assets/font-bold.otf);

}

@font-face
{
    font-family: FontLight;
    src: url(assets/font-light.otf);
}


body {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    font-family: "FontLight";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "FontBold";
}

.profile {
  border-radius: 50%;
  height: 40vmin;
  min-height: 80px;
  max-height: 200px;
  margin-bottom: .5rem;
}

.navbar {
  margin: -20px;
  margin-bottom: 20px;
}

.array-container {
  margin: 40px;
  height: 300px;
}

.array-bar {
  width: 5px;
  background-color: lightskyblue;
  display: inline-block;
  margin: 0px 2px;
  position: relative;
}

Button {
  margin: 10px;
}