@font-face
{
    font-family: FontBold;
    src: url(assets/font-bold.otf);

}

@font-face
{
    font-family: FontLight;
    src: url(assets/font-light.otf);
}


body {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    font-family: "FontLight";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "FontBold";
}

.icon {
  border-radius: 50%;
  height: 50px;
  margin-bottom: .5rem;
  margin-bottom: 0px;
}

.navbar {
  margin: -20px;
  margin-bottom: 20px;
}

.array-bar {
  background-color: lightskyblue;
  display: inline-block;
  position: relative;
}

.array-bar-fake {
  background-color: lightskyblue;
  opacity: 0%;
  display: inline-block;
  position: relative;
}

Button {
  margin: 10px;
}